# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Bower
bower_components/

# IDE/Editor data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
dist/*

